--
-- PostgreSQL database dump
--

\restrict 0A41sWRZn2x9ersu578Oqwx0jS6v7e9DoHQRUnOYmKbdFZX1QrDAl9dGjfRNHyp

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: beneficios_productos; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.beneficios_productos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producto_id uuid NOT NULL,
    tipo_beneficio character varying(100),
    descripcion text,
    valor character varying(50),
    aplica_condicion text,
    orden integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.beneficios_productos OWNER TO financebro;

--
-- Name: condiciones_productos; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.condiciones_productos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producto_id uuid NOT NULL,
    condicion text NOT NULL,
    orden integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.condiciones_productos OWNER TO financebro;

--
-- Name: denominaciones; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.denominaciones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codigo character varying(50) NOT NULL,
    nombre character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.denominaciones OWNER TO financebro;

--
-- Name: ejecuciones_scraping; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.ejecuciones_scraping (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    entidad_nombre character varying(255),
    productos_procesados integer DEFAULT 0 NOT NULL,
    productos_nuevos integer DEFAULT 0 NOT NULL,
    productos_actualizados integer DEFAULT 0 NOT NULL,
    errores text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ejecuciones_scraping OWNER TO financebro;

--
-- Name: entidades_financieras; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.entidades_financieras (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(255) NOT NULL,
    nombre_normalizado character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    logo_url character varying(255),
    sitio_web character varying(255)
);


ALTER TABLE public.entidades_financieras OWNER TO financebro;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    "timestamp" bigint NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.migrations OWNER TO financebro;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: financebro
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO financebro;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: financebro
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: montos_productos; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.montos_productos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producto_id uuid NOT NULL,
    monto_minimo bigint,
    monto_maximo bigint,
    plazo_minimo_meses integer,
    plazo_maximo_meses integer
);


ALTER TABLE public.montos_productos OWNER TO financebro;

--
-- Name: productos_credito; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.productos_credito (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_unico_scraping character varying(255) NOT NULL,
    entidad_id uuid NOT NULL,
    tipo_credito_id uuid NOT NULL,
    tipo_vivienda_id uuid,
    denominacion_id uuid NOT NULL,
    tipo_tasa_id uuid NOT NULL,
    tipo_pago_id uuid,
    descripcion text NOT NULL,
    url_pdf text,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    url_extraccion text NOT NULL,
    url_redireccion text NOT NULL,
    fecha_extraccion date NOT NULL,
    hora_extraccion time without time zone NOT NULL
);


ALTER TABLE public.productos_credito OWNER TO financebro;

--
-- Name: requisitos_productos; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.requisitos_productos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producto_id uuid NOT NULL,
    requisito text NOT NULL,
    es_obligatorio boolean DEFAULT true NOT NULL,
    orden integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.requisitos_productos OWNER TO financebro;

--
-- Name: tasas_historicas; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.tasas_historicas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    producto_id uuid NOT NULL,
    tasa_valor numeric(5,2) NOT NULL,
    fecha_extraccion date NOT NULL,
    hora_extraccion time without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    tasa_final numeric(5,2),
    uvr_variacion_anual numeric(5,2)
);


ALTER TABLE public.tasas_historicas OWNER TO financebro;

--
-- Name: tasas_vigentes; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.tasas_vigentes (
    producto_id uuid NOT NULL,
    tasa_valor numeric(5,2),
    tasa_texto_original character varying(50),
    tasa_minima numeric(5,2),
    tasa_maxima numeric(5,2),
    es_rango boolean DEFAULT false NOT NULL,
    fecha_vigencia date DEFAULT ('now'::text)::date NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    tasa_final numeric(5,2),
    uvr_variacion_anual numeric(5,2)
);


ALTER TABLE public.tasas_vigentes OWNER TO financebro;

--
-- Name: tipos_credito; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.tipos_credito (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codigo character varying(50) NOT NULL,
    nombre character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tipos_credito OWNER TO financebro;

--
-- Name: tipos_pago; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.tipos_pago (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codigo character varying(50) NOT NULL,
    nombre character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tipos_pago OWNER TO financebro;

--
-- Name: tipos_tasa; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.tipos_tasa (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codigo character varying(50) NOT NULL,
    nombre character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tipos_tasa OWNER TO financebro;

--
-- Name: tipos_vivienda; Type: TABLE; Schema: public; Owner: financebro
--

CREATE TABLE public.tipos_vivienda (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    codigo character varying(50) NOT NULL,
    nombre character varying(255) NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tipos_vivienda OWNER TO financebro;

--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: entidades_financieras PK_00e5ff9573a0272c2fe4a4dca03; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.entidades_financieras
    ADD CONSTRAINT "PK_00e5ff9573a0272c2fe4a4dca03" PRIMARY KEY (id);


--
-- Name: beneficios_productos PK_03001a6f048dab5fb94d86be8e1; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.beneficios_productos
    ADD CONSTRAINT "PK_03001a6f048dab5fb94d86be8e1" PRIMARY KEY (id);


--
-- Name: productos_credito PK_3d56ee53a06f672794584bdfddf; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "PK_3d56ee53a06f672794584bdfddf" PRIMARY KEY (id);


--
-- Name: tasas_historicas PK_7317eca7e6f9f80a9f35eebac6f; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tasas_historicas
    ADD CONSTRAINT "PK_7317eca7e6f9f80a9f35eebac6f" PRIMARY KEY (id);


--
-- Name: ejecuciones_scraping PK_76c06221a2a8a2088c6481421e9; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.ejecuciones_scraping
    ADD CONSTRAINT "PK_76c06221a2a8a2088c6481421e9" PRIMARY KEY (id);


--
-- Name: requisitos_productos PK_7d0243fff004db21ae6924d201d; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.requisitos_productos
    ADD CONSTRAINT "PK_7d0243fff004db21ae6924d201d" PRIMARY KEY (id);


--
-- Name: migrations PK_8c82d7f526340ab734260ea46be; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT "PK_8c82d7f526340ab734260ea46be" PRIMARY KEY (id);


--
-- Name: montos_productos PK_953aedcabfe50456dbc7d7d08ff; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.montos_productos
    ADD CONSTRAINT "PK_953aedcabfe50456dbc7d7d08ff" PRIMARY KEY (id);


--
-- Name: denominaciones PK_a5c06caefb91af3c6af59b35484; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.denominaciones
    ADD CONSTRAINT "PK_a5c06caefb91af3c6af59b35484" PRIMARY KEY (id);


--
-- Name: tipos_vivienda PK_abef1731203b84d4e2424a424dc; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_vivienda
    ADD CONSTRAINT "PK_abef1731203b84d4e2424a424dc" PRIMARY KEY (id);


--
-- Name: tipos_tasa PK_b8b8ebd230e5dc3343e143732a6; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_tasa
    ADD CONSTRAINT "PK_b8b8ebd230e5dc3343e143732a6" PRIMARY KEY (id);


--
-- Name: tipos_credito PK_bdfe81c969ba8ec4e19a91675be; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_credito
    ADD CONSTRAINT "PK_bdfe81c969ba8ec4e19a91675be" PRIMARY KEY (id);


--
-- Name: tasas_vigentes PK_c56af9f39c06ca3ad8ea2e905bf; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tasas_vigentes
    ADD CONSTRAINT "PK_c56af9f39c06ca3ad8ea2e905bf" PRIMARY KEY (producto_id);


--
-- Name: condiciones_productos PK_ea881a8f3f13897919390905e43; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.condiciones_productos
    ADD CONSTRAINT "PK_ea881a8f3f13897919390905e43" PRIMARY KEY (id);


--
-- Name: tipos_pago PK_ed0a3c97505c2ac594a92b91380; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_pago
    ADD CONSTRAINT "PK_ed0a3c97505c2ac594a92b91380" PRIMARY KEY (id);


--
-- Name: tipos_credito UQ_223cd631ffaa2ba0af87f6d368d; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_credito
    ADD CONSTRAINT "UQ_223cd631ffaa2ba0af87f6d368d" UNIQUE (codigo);


--
-- Name: montos_productos UQ_319a49680509ac0ba14f397a7dd; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.montos_productos
    ADD CONSTRAINT "UQ_319a49680509ac0ba14f397a7dd" UNIQUE (producto_id);


--
-- Name: tipos_vivienda UQ_67673a4003ca9f1b156ade79ea9; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_vivienda
    ADD CONSTRAINT "UQ_67673a4003ca9f1b156ade79ea9" UNIQUE (codigo);


--
-- Name: tipos_pago UQ_74e911fcb7da912733c32f4b416; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_pago
    ADD CONSTRAINT "UQ_74e911fcb7da912733c32f4b416" UNIQUE (codigo);


--
-- Name: denominaciones UQ_94f3584c61ddc44643aaf1c5a7a; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.denominaciones
    ADD CONSTRAINT "UQ_94f3584c61ddc44643aaf1c5a7a" UNIQUE (codigo);


--
-- Name: entidades_financieras UQ_a7a6c5142f8bedd1f97e51599ad; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.entidades_financieras
    ADD CONSTRAINT "UQ_a7a6c5142f8bedd1f97e51599ad" UNIQUE (nombre_normalizado);


--
-- Name: tipos_tasa UQ_c5a6d426ab3c5d4b9b6438c318d; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tipos_tasa
    ADD CONSTRAINT "UQ_c5a6d426ab3c5d4b9b6438c318d" UNIQUE (codigo);


--
-- Name: productos_credito UQ_d7d8510f32ecf1f7889a5a43b94; Type: CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "UQ_d7d8510f32ecf1f7889a5a43b94" UNIQUE (id_unico_scraping);


--
-- Name: condiciones_productos FK_2840d712a55111693f9f633756a; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.condiciones_productos
    ADD CONSTRAINT "FK_2840d712a55111693f9f633756a" FOREIGN KEY (producto_id) REFERENCES public.productos_credito(id) ON DELETE CASCADE;


--
-- Name: tasas_historicas FK_2918420844525caab5cea9e4d5a; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tasas_historicas
    ADD CONSTRAINT "FK_2918420844525caab5cea9e4d5a" FOREIGN KEY (producto_id) REFERENCES public.productos_credito(id) ON DELETE CASCADE;


--
-- Name: montos_productos FK_319a49680509ac0ba14f397a7dd; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.montos_productos
    ADD CONSTRAINT "FK_319a49680509ac0ba14f397a7dd" FOREIGN KEY (producto_id) REFERENCES public.productos_credito(id) ON DELETE CASCADE;


--
-- Name: requisitos_productos FK_55d2c06a10d81325be7af287760; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.requisitos_productos
    ADD CONSTRAINT "FK_55d2c06a10d81325be7af287760" FOREIGN KEY (producto_id) REFERENCES public.productos_credito(id) ON DELETE CASCADE;


--
-- Name: beneficios_productos FK_55f609e4ca5fbb76886e64ef4b9; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.beneficios_productos
    ADD CONSTRAINT "FK_55f609e4ca5fbb76886e64ef4b9" FOREIGN KEY (producto_id) REFERENCES public.productos_credito(id) ON DELETE CASCADE;


--
-- Name: productos_credito FK_5bb4634178300acf33974f4946f; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "FK_5bb4634178300acf33974f4946f" FOREIGN KEY (tipo_vivienda_id) REFERENCES public.tipos_vivienda(id);


--
-- Name: productos_credito FK_6fee9fad1d27ba4835e788b233f; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "FK_6fee9fad1d27ba4835e788b233f" FOREIGN KEY (tipo_credito_id) REFERENCES public.tipos_credito(id);


--
-- Name: productos_credito FK_98c9920ec1e1aaae920e41d72fc; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "FK_98c9920ec1e1aaae920e41d72fc" FOREIGN KEY (denominacion_id) REFERENCES public.denominaciones(id);


--
-- Name: productos_credito FK_c4074ee52838a05ce2dbf96bb5b; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "FK_c4074ee52838a05ce2dbf96bb5b" FOREIGN KEY (tipo_pago_id) REFERENCES public.tipos_pago(id);


--
-- Name: tasas_vigentes FK_c56af9f39c06ca3ad8ea2e905bf; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.tasas_vigentes
    ADD CONSTRAINT "FK_c56af9f39c06ca3ad8ea2e905bf" FOREIGN KEY (producto_id) REFERENCES public.productos_credito(id) ON DELETE CASCADE;


--
-- Name: productos_credito FK_d47b02ed43052878e1b235a0da4; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "FK_d47b02ed43052878e1b235a0da4" FOREIGN KEY (tipo_tasa_id) REFERENCES public.tipos_tasa(id);


--
-- Name: productos_credito FK_e9afda99305caf60fd708b25685; Type: FK CONSTRAINT; Schema: public; Owner: financebro
--

ALTER TABLE ONLY public.productos_credito
    ADD CONSTRAINT "FK_e9afda99305caf60fd708b25685" FOREIGN KEY (entidad_id) REFERENCES public.entidades_financieras(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 0A41sWRZn2x9ersu578Oqwx0jS6v7e9DoHQRUnOYmKbdFZX1QrDAl9dGjfRNHyp

